# {{ ansible_managed }}

[Unit]
Description=Connect storage-box qcow virtual disk image
RequiresMountsFor=/srv/storage-box
AssertPathExists=/srv/storage-box/storage.qcow2

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=qemu-nbd --cache=writeback --connect=/dev/nbd0 /srv/storage-box/storage.qcow2
ExecStop=qemu-nbd --disconnect=/dev/nbd0
